# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# IDE / Env
.idea/
ven/
.venv/
venv/

# OS
.DS_Store
Thumbs.db

# Local environment
.env

# VSCode workspace settings
.vscode/settings.json

# VSCode (ignore entire workspace directory)
.vscode/
